[submodule "themes/colordrop"]
	path = themes/colordrop
	url = https://github.com/humrochagf/colordrop.git
[submodule "hugo-coder"]
	path = hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
